.problemlist{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 15px 0px;
    width: 95%;
}
.problemlist-problem{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 10px 0px 5px 0px;
    padding: 10px;
    width: 90%;
}
.problemlist-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.problemlist-tags{
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.problemlist-tag-pill{
    display: inline-block;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    background-color: #fad75a;
    color: #1b1b1b;
    border-radius: 10px;
}