.problemPage{
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    border: solid #b9b9b9 3px;
    margin: 0px;
}

.problemDescription{
    padding: 1rem;
    border: solid #b9b9b9 3px;
    font-size: 15px;
    line-height: 1.5;
}
.problemDescription h1, h2{
    margin: 0;
    padding: 0;
}
.problemDescription h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.problemDescription ul{
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    border: solid #b9b9b9 3px;
}
.problemDescription button{
    background-color: #fad75a;
    border-radius: 10px;
    border: medium none;
    padding: 10px 12px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 350ms cubic-bezier(0, 0, 0.25, 1) 0s;
    cursor: pointer;

}
