.ide ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.ide textarea{
    margin-top: 5px;
    width: 460px;
    height: 150px;
    border: solid #b9b9b9 3px;
    resize: none;
    font-size: 15px;
}

.ide ::placeholder{
    font-size: 15px;
}
.ide button{
    float: left;
    background-color: #fad75a;
    border-radius: 10px;
    border: medium none;
    padding: 10px 12px;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 350ms cubic-bezier(0, 0, 0.25, 1) 0s;
    cursor: pointer;
    margin: 5px 5px;
}
.ide select{
    float: left;
    position: relative;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
    width: 120px;
    border-radius: 10px;
    background-color: #fad75a;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #fad75a 0%,#fad75a 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
  