.gym{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gym-popular-tags{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px;
    padding: 0px 15px 15px 15px;
    text-align: left !important;
    width: 35%;
    height: fit-content;
}
.gym-tags-select{
    width: 65%;
    margin: 15px 0px;
}
.alltags-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px;
    margin-top: 25px;
    padding: 15px;
    text-align: left;
}
.alltags-heading{
    padding: 10px;
}
.alltags-heading h1{
    margin: 0;
    padding: 0;
}
.alltags-heading input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
.alltags-heading label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
    position: relative;
}

.alltags-heading label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.alltags-heading input:checked + label {
	background: #fad75a;
}

.alltags-heading input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.alltags-heading label:active:after {
	width: 25px;
}