.gym{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gym-popular-tags{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 15px;
    padding: 0px 15px 15px 15px;
    text-align: left !important;
    width: 35%;
    height: fit-content;
}
.gym-tags-select{
    width: 65%;
    margin: 15px 0px;
}