.filtertags{
    width: 100%;
    /* text-align: left; */
    /* overflow-y: auto; */
}
.filtertags::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.filtertags::-webkit-scrollbar{
	width: 6px;
}
.filtertags::-webkit-scrollbar-thumb{
	background-color: #b9b9b9;
}
.filtertags-selected{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 5px;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 15px;
    width: 90%;
    text-align: left;
    color: #1b1b1b;
}
.filtertags-selected h3{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.filtertags-button{
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}
.filtertags-button button{
    background-color: rgb(250, 215, 90);
    border-radius: 10px;
    border: medium none;
    padding: .8em 1.0em;
    color: black;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px -1px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 350ms cubic-bezier(0, 0, 0.25, 1) 0s;
    cursor: pointer;
}