.counter{
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
    display: inline-block;
}
.counterTitle{
    margin: 0;
    padding: 0;
}
.counter li {
	margin-left: 5px;
    color: #4a4a4a;
    display: block;
    font-size: 12px;
    float: left;
	text-align: center;
    background-color: #fad75a;
}

.counter span{
    padding: 8px 0px;
    padding-bottom: 0px;
    width: 32px;
    border-radius: 2px;
    display: block;
    text-align: center;
    line-height: 1;
    margin-bottom: 2px;
}